*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/
dist/
flycheck_*.el
/server/
.projectile### Eclipse template
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
tags
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/
.idea
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.log
.lib/
dist/*
project/plugins/project/
.scala_dependencies
.worksheet
.cache-tests
### Eclipse template


# External tool builders

# Locally stored "Eclipse launch configurations"

# PyDev specific (Python IDE for Eclipse)

# CDT-specific (C/C++ Development Tooling)

# Java annotation processor (APT)

# PDT-specific (PHP Development Tools)

# sbteclipse plugin

# Tern plugin

# TeXlipse plugin

# STS (Spring Tool Suite)

# Code Recommenders

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin

# JIRA plugin

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

